<div id="index-header">
  <h1>Welcome to the Object Oriented Programming Blog!</h1>

  <p>
    We provide information, tips and tricks on coding in various object oriented languages.
  </p>
</div>

<br>

<div id="posts-header">
  <h3>View Posts:</h3>
</div>

<ul>
  {{#each model.posts as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
    {{new-comment saveComment="saveComment" post=post}}
    <h5>Comments:</h5>
    {{#each post.comments as |comment|}}
    <li>{{comment.title}}{{comment.username}}{{comment.body}}</li>
    {{/each}}
  {{/each}}

</ul>





<br>
<br>

<div id="new-post-button">
  {{new-post save2="save3"}}
</div>
